* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.page-wrapper {
   display: flex;
   flex-direction: column;
   height: 100vh;
   border: 2px solid black;
}

.top-bar {
   border: 3px solid black;
   height: 50px;
   background-color:darkolivegreen;
}

.content-area {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   height: 100vh;
   padding-inline: 10px;
   border: 2px solid black;
   background-color: darkgreen;
}

.symbol-group {
   flex: 2;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   height: fit-content;
}

.squares-container {
   display: flex;
   width: fit-content;
   height: fit-content;
   gap: 2rem;
   margin-top: 70px;
   margin-bottom: 100px;
   transform: rotate(-45deg);
}

.red-square {
   height: 90px;
   width: 90px;
   border: 3px solid black;
   background-color: red;
}

.symbol-container {
   display: flex;
   justify-content: center;
   align-self: center;
   height: fit-content;
   width: fit-content;
   gap: 20px;
}

.equal-symbol {
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 1rem;
}

.blue-rectangle {
   width: 80px;
   height: 15px;
   border: 3px solid black;
   background-color: blue;
}

.circle-symbol {
   height: 60px;
   width: 60px;
   border-radius: 100%;
   border: 3px solid black;
   background-color:darkcyan;
}

.card-wrapper {
   flex: 1;
   display: flex;
   justify-content: end;
}

.info-card {
   display: flex;
   justify-content: center;
   height: 300px;
   width: 160px;
   padding-top: 10px;
   margin-top: 20px;
   border: 3px solid black;
   background-color: white;
}

.card__text {
   font-family:Arial, Helvetica, sans-serif;
   font-size:xx-large;
}

